<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body class="body">
    <%- include('../partials/header.ejs') %>
    <main class="h-full">
      <div
        class="mx-auto mt-10 flex h-full w-full flex-col items-center justify-center bg-gray-50 text-gray-700 lg:mt-20"
      >
        <div
          class="m-2 rounded-xl bg-white px-5 py-3 shadow-sm ring-1 ring-inset ring-black/10"
        >
          <h3 class="h1 pt-5 pb-8 text-center">Login to GoGamify</h3>
          <form
            id="loginForm"
            class="mx-auto flex max-w-sm flex-col space-y-6"
            action="/login"
            method="post"
          >
            <div>
              <label class="py-3 text-lg font-semibold" for="">Username</label>
              <input
                class="mt-2 w-full rounded-xl bg-gray-50 px-4 py-3 shadow-inner ring-1 ring-inset ring-black/10"
                type="email"
                placeholder="akoatapang.atao@gmail.com"
                required
              />
            </div>
            <div>
              <label class="text-lg font-semibold" for="">Password</label>
              <input
                class="mt-2 w-full rounded-xl bg-gray-50 px-4 py-3 shadow-inner ring-1 ring-inset ring-black/10"
                type="password"
                required
              />
            </div>
            <div class="flex justify-between text-sm">
              <div class="group">
                <label
                  class="group-hover:cursor-pointer"
                  for="remember-password"
                >
                  <input
                    class="mr-2 h-4 w-4 accent-violet-500 group-hover:cursor-pointer"
                    type="checkbox"
                    name="remember-password"
                    id="remember-password"
                    checked
                  />
                  <span>Remember me</span></label
                >
              </div>
              <a class="link text-right" href="#">Forgot your password?</a>
            </div>
            <div>
              <button
                class="button w-full rounded-xl px-2 py-3 text-3xl"
                type="submit"
              >
                Log in
              </button>
              <!-- <button class="btn w-full rounded-xl px-2 py-3" type="submit">
              Register
            </button> -->
            </div>
          </form>
        </div>
        <div class="flex flex-col items-center justify-center">
          <a class="button button--muted" href="/auth/register"
            >Create a Free GoGamify Account</a
          >

          <%- include('../partials/block-back.ejs', {label:"Back to Home",
          route:"/"}) %>
        </div>
      </div>
    </main>

    <script>
      //   window.onload = function () {
      //     document.getElementById("loginForm").reset();
      //     console.log("Window on load, inputs has been reset successfully.");
      //   };
    </script>
  </body>
</html>
