<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %> <%-
  include('../partials/header-special.ejs') %>
  <body>
    <main class="auto-container">
      <a class="button button--muted" href="/collection/">< Back</a>
      <section class="section flex justify-center">
        <%- include('../partials/collection/collectible-details.ejs') %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
