<form class="form" action="/auth/register" method="POST">
  <h3 class="h2 mb-5">Account</h3>
  <label for="email">Email</label>
  <input
    name="email"
    class="form__field"
    type="email"
    placeholder="Your personal or school email"
    required
  />
  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    class="form__field"
    type="password"
    placeholder="Minimum of 4 characters"
    required
  />
  <label for="password">Confirm Password</label>

  <input
    id="confirmPassword"
    name="confirmPassword"
    class="form__field"
    type="password"
    placeholder="Match with your awesome password"
    required
  />

  <input name="profile" type="text" value="NA" hidden />
  <input name="role" type="text" value="<%= role %>" hidden />
  <button id="register" class="button" type="submit">Register</button>
</form>
<script src="/js/account-credential.js"></script>
