<form class="form" action="/auth/register" method="POST">
  <h3 class="h2 mb-5">Account</h3>
  <label for="email">Email</label>
  <input name="email" class="form__field" type="email" required />
  <label for="password">Password</label>
  <input name="password" class="form__field" type="password" required />
  <button class="button" type="submit">Register</button>
</form>
