<footer class="auto-container border-t">
  <div class="flex items-center justify-between text-sm text-neutral/80">
    <a href="/">GoGamify Education 2022</a>
    <a href="https://github.com/noice-noise/GoGamify-Students"
      >The GoGamify Team</a
    >
  </div>
</footer>
