<header class="">
  <div
    class="fixed top-0 z-10 hidden h-14 w-full items-center border bg-white px-5 shadow-sm lg:flex"
  >
    <span class="text-3xl font-bold tracking-tight text-violet-600"
      >GoGamify</span
    >
  </div>
</header>
