    <nav>
      <div class="nav__container">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a class="button button--nav group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button button--nav group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button button--nav group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button button--nav group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button button--nav group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="button__icon"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
