<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="bg-gray-50 antialiased">
    <div class="flex h-screen w-screen flex-col items-center justify-center">
      <h1>Opps, we've encountered an error.</h1>
      <a class="button" href="../">Go Back</a>
    </div>
  </body>
</html>
