/*
    OUR THEME CSS VARIABLE REFERENCE
    To ensure that all colors, adjust based on current theme.
    As specified in our custom tailwind.css

    It's a good practice to always use CSS variables to colors that often
    changes, or referenced

  --color-primary-accent    // theme color
  --color-primary-muted     // theme color but softer

  --color-text-neutral      // dark gray for text
  --color-text-muted        // gray for text subtitles or not important

  --color-foreground        // white
  --color-background        // gray for body background

  --color-success           // control color
  --color-danger            // control color
  --color-warning           // control color

*/

.journey-header{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-browse{
    display: flex;
    justify-content: center;
    box-sizing: auto;
    padding: 0.5rem;
    float: right;
    border: 2px solid rgb(var(--color-primary) / var(--tw-bg-opacity));
    border-radius: 1rem;
    font-weight: bold;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.button-browse:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-muted) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary-accent) / var(--tw-text-opacity));

    --tw-shadow: 0 10px 10px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    /* background-color: rgb(var(--color-background) / var(--tw-bg-opacity)); */
  }

  .button-browse:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary-muted) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary) / var(--tw-text-opacity));
  }

.browse-holder{
    display: flex;
    flex-direction: center;
    margin: 0 5px 0 5px;
}
.browse-holder:hover{
    fill: rgb(var(--color-primary))
}

.label{
    padding: 5px 5px 5px 10px;
}


  
/*tab container */
.tabs {
    display: flex;
    overflow: hidden;
    margin-top: 2rem;
    align-items: center;
}

/* buttons in tab*/
.tabs button {
    box-sizing: content-box;
    width: fit-content;
    margin-top: 5px;
    float: left;
    border-radius: 30px 30px 0 0;
    border-width: 1px;
    /* border-color: rgb(var(--color-primary-muted) / var(--tw-bg-opacity)); */
    border-bottom: 1px solid rgb(var(--color-primary));
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background-color: rgb(var(--color-primary-muted) / var(--tw-bg-opacity));
}

/*default todo btn color*/
#btn_todo{
    padding-left:3rem;
    padding-right: 3rem;
    background-color: rgb(var(--color-primary-accent)/var(--tw-text-opacity));
    margin-right:-4rem; 
    z-index: 1;
}
#btn_comp{
    padding-left:2rem;  
    padding-right:2rem;  
    z-index: 0 !important;
}

#btn_todo:hover, #btn_comp:hover {
    --tw-translate-y: -0.1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-text-opacity: 1;
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity))!important; 
    color:rgb(var(--color-primary-muted)/var(--tw-text-opacity))!important; 
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-bottom: 4px solid rgb(var(--color-primary));
    z-index: 1 !important;   
}
#btn_comp:active, #btn_todo:active{
    background-color: rgb(var(--color-primary-accent)/var(--tw-text-opacity))!important;
    --tw-text-opacity: 1;
    color:rgb(var(--color-nuetral)/var(--tw-text-opacity))!important ; 
   
}
.card-status{
    display:inline-block;
    text-align: center;
    width:1.5rem ;
    height: 1.5em;    
    border: 1px solid #94a3b8;
    background-color: #94a3b8;
    border-radius: 25px;
}

.journey_title{
      color: rgb(var(--color-primary));
  }

.content{
    /* width: fit-content; */
    height: fit-content;
    overflow: hidden;
    border-radius: 1.5rem;
    padding-left: 1rem;
    /* display: block; */
}

.file-container{
    display: grid;
    overflow: hidden;
    row-gap: 2rem;
    column-gap: 5%; 
    justify-content: center;
    padding: 3rem 2rem 3rem 2rem;
    row-gap: 3rem;
    column-gap:3rem;
    border-width: 1px;
    border-radius: 0 1rem 1rem 1rem; 
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-foreground) / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-image: linear-gradient(to bottom right, rgb(var(--color-primary-muted) / var(--tw-bg-opacity)),rgb(var(--color-primary-accent) / var(--tw-bg-opacity)));
}
.card-main-container{
    padding: 1rem;
    margin-left:2rem;
    display: flex;
    border-radius: 1.5rem;
    background-color: rgb(var(--color-foreground) / var(--tw-bg-opacity));
}

.card-body{
    margin: 1rem 1rem 1rem 0;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width:800px) {
    .file-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width:800px) {
    #btn_todo{
        padding-left:1rem;
        padding-right: 1rem;
        font-size: smaller;

    }
    #btn_comp{
        padding-left:0.5rem;  
        padding-right:0.5rem;  
        font-size: smaller;

    }
}
@media  screen and (min-width:1240px) {
    .file-container{
        padding: 3rem 3rem 3rem 3rem;
    }
    .h3{
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
    }
    .h4{
        font-size: 1rem;
    }
} 



.subject-box{
    display:flex;
    flex-direction: column;
    padding: 3rem;
    margin: 1rem 1rem 1rem -3rem;
    border-radius:15px;
    background-image: linear-gradient(to bottom right, #FB923C,#EF4444);
    z-index: auto;
    text-align: center; 
    overflow: visible;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    justify-content:center;
    box-shadow: rgba(255, 140, 0, 0.671)  -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    
}


  .h3{
    --tw-text-opacity: 1;
    color: rgb(var(--color-primary) / var(--tw-text-opacity));
    font-weight:bolder;
  }
  .text-box{
      color: rgb(var(--color-foreground) / var(--tw-bg-opacity));
      text-align: center;
  }
  .sub-title{
    color: rgb(var(--color-primary-accent) / var(--tw-bg-opacity));
  }

  
.meter {
    margin: 1rem 0 0.5rem 0;
    box-sizing: content-box;
    height:1.3rem; 
    position: relative;
    background: #cbd5e1;
    border-radius: 25px;
    padding: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .orange > span {
    background-image: linear-gradient(#f1a165, #f36d0a);
    transition: 1s;
  }
  .green > span {
    background-image: linear-gradient(rgb(32, 253, 32),rgb(var(--color-success) / var(--tw-bg-opacity)));
    border-radius: 20px;
    transition: 1s;
  }
  .yellow > span {
    background-image: linear-gradient(#e3f165, #f3e30a);
    transition: 1s;
  }

 .progress-text{
      display: flex;
      justify-content: space-between;
  } 
  .h6{
      font-size:0.8rem ;
      color: rgb(var(--color-text-muted)/ var(--tw-bg-opacity));
  }

  .btn-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-direction: column-reverse; */
  }

  .btn-view{
    visibility: hidden;
    height: 2rem;
    width: 2rem;
    border-radius: 20% 0% 0% 100% ;
  }
  .icon-eye{
      display: inline-block;
      transform: scale(.5);
  }
  .content:hover .btn-view{
    visibility: visible;
    background-color: rgb(var(--color-primary-muted) / var(--tw-bg-opacity));
    transform: scale(3);
    transition: 1s;
  }
  .btn-main:hover .btn-view{
    background-color: rgb(var(--color-primary-accent) / var(--tw-bg-opacity));
  }
  .btn-main:active .btn-view{
      background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
      transition: none;
  }
  .btn-main:hover .icon-eye svg{
    stroke: rgb(var(--color-primary-muted));
  }

  .btn-effect{
    height: 2rem;
    width: 2rem;
    border: 1px;
    border-radius: 50%;
    background-color: rgb(215, 215, 215);   
}

.btn-more{
    visibility: hidden;
    display: inline-block;
    transform: scale(.5);
}
.btn-less{
    visibility: hidden;
    display: none;
    transform: scale(.5);
}


.effects{
    background: linear-gradient(to left, rgb(244, 244, 244) 50%, white 50%) left;
    background-size: 200%;
    transition: .5s ease-out;
    background-position: right 
}

.effect{
    background: linear-gradient(to right, white 50%,  rgb(244, 244, 244) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    background-position: left
}

.content:hover .btn-more{
    visibility: visible;
}
.content:hover .btn-less{
    visibility: visible;
}

.btn-effect:hover{
    background-color: rgb(235, 235, 235);   
}

.btn-effect:hover .btn-more{
    stroke:#9e9e9e;
    transition:none;
}
.btn-effect:hover .btn-less{
    stroke:#9e9e9e;
    transition:none;
}

.btn-effect:active{
    background-color: rgb(240, 240, 240);
}
.sub-content{
    word-break: break-all;
    margin-top: 0.3rem;
}


@media screen and (max-width:1024px) {
    .content{
        overflow: hidden;
        padding-top: 1.8rem;
        padding-left: 0;
    }
    .subject-box {
        margin: -3rem 1rem 1rem 1rem;
        
    }
    .card-main-container{
        flex-direction: column;
        margin-left:0;
       
    }
    .card-body{
        margin: 1rem;
        text-align: center;
        width: auto;
    }
    .btn-div{
        flex-direction: row;
    }
    .btn-view{
        visibility: hidden;
        height: 2rem;
        width: 2rem;
        border-radius: 0% 100% 20% 0% ;
      }     
}


