@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-transparent: 109 40 217 0;
  --color-primary: 109 40 217; /* #6D28D9 */
  --color-primary-accent: 139 92 246; /* #8B5CF6 */
  --color-primary-muted: 233 213 255; /* #E9D5FF */

  --color-text-neutral: 39 39 42; /* #27272A */
  --color-text-muted: 82 82 91; /* #52525B */

  --color-foreground: 255 255 255; /* #ffffff */
  --color-background: 250 250 250; /* #FAFAFA */

  --color-success: 34 197 94; /* #22C55E */
  --color-danger: 239 68 68; /* #EF4444 */
  --color-warning: 251 146 60; /* #FB923C */
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");

  html {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    @apply body;
  }
}

@layer components {
  .h1 {
    @apply text-3xl font-bold tracking-tight text-primary md:text-4xl;
  }

  .h2 {
    @apply text-xl font-bold lg:text-3xl;
  }

  .h3 {
    @apply text-lg lg:text-2xl;
  }

  .h4 {
    @apply text-xl lg:text-base;
  }

  .p--small {
    @apply text-sm;
  }

  .p--content {
    @apply text-justify lg:leading-4;
  }

  .body {
    @apply theme-default bg-background font-poppins text-neutral antialiased;
  }

  /* Mammoth JS */
  .table {
    @apply w-fit scale-x-95;
  }

  .box {
    @apply rounded-lg border bg-foreground p-5 md:p-6 lg:p-10;
  }

  .imposter {
    @apply flex h-full w-full items-center justify-center;
  }

  .button {
    @apply my-2 mr-2 flex w-fit transform-gpu flex-col items-center justify-center gap-2 rounded-2xl bg-primary-muted px-3 py-2 text-center font-bold text-primary-accent shadow-sm ring-primary transition-all duration-150 hover:-translate-y-1 hover:shadow-md focus:text-primary focus:ring-2 active:translate-y-1 active:text-primary active:shadow-sm lg:items-center lg:justify-start lg:px-5 lg:py-3 lg:font-bold lg:hover:text-primary lg:focus:ring-4 lg:active:ring-2;
  }

  .button--cta {
    @apply bg-primary px-5 text-background ring-primary hover:text-primary-muted focus:text-primary-muted active:bg-primary-muted active:text-primary-accent;
  }

  .button--muted {
    @apply bg-background shadow-none hover:bg-foreground hover:shadow-sm;
  }

  .button__icon {
    @apply h-10 w-10 transform-gpu rounded-full p-2 duration-500 group-hover:stroke-primary/80 group-focus:bg-primary-muted group-focus:stroke-primary/80 md:group-hover:rounded-full md:group-hover:bg-primary-muted  md:group-focus:rounded-full md:group-focus:bg-foreground;
  }

  .button__icon--active {
    @apply rounded-full bg-foreground stroke-primary/80;
  }

  .button__span__label {
    @apply hidden text-xs group-hover:flex group-focus:flex group-active:flex md:flex;
  }

  .main__container {
    @apply m-auto mt-14 mb-48 p-5 lg:ml-32 lg:mb-0;
  }

  .section {
    @apply mx-auto my-5 rounded-2xl border bg-foreground p-5 shadow-sm md:p-8 lg:p-10;
  }

  .nav__button {
    @apply m-0 h-10 w-12 gap-0 bg-foreground text-neutral ring-0 ring-transparent md:h-16 md:w-16 md:p-10 md:hover:bg-background md:focus:bg-primary-muted md:focus:text-primary-accent lg:h-auto lg:w-20 lg:gap-2 lg:p-3;
  }

  .nav__button--active {
    @apply bg-primary-muted stroke-primary/80;
  }

  .nav__container {
    @apply fixed bottom-0 z-10 h-20 w-full border bg-foreground shadow-sm md:h-24 lg:left-0 lg:h-screen lg:w-28;
  }

  .nav__list {
    @apply flex h-full w-full flex-row items-center justify-center gap-2 px-3 text-xs lg:w-full lg:flex-col lg:items-center lg:justify-center;
  }

  .nav__list__item {
    @apply flex w-full items-center justify-center p-1;
  }

  .header__container {
    @apply fixed top-0 z-50 hidden h-12 w-full items-center justify-between border bg-foreground px-5 shadow-sm lg:flex;
  }

  .header__span {
    @apply text-3xl font-bold tracking-tight text-primary;
  }

  .footer {
    @apply container border-t bg-foreground text-center text-sm font-medium;
  }

  .link {
    @apply font-bold text-primary-accent transition-colors duration-300 hover:text-primary;
  }

  /* Mammoth JS */

  .table {
    @apply w-fit scale-x-95;
  }

  .card-group {
    @apply my-5 flex flex-wrap gap-3 md:gap-4 lg:gap-5;
  }

  .card--extra-small {
    @apply min-h-[300px] w-[250px] max-w-xs;
  }

  .card--small {
    @apply min-h-[300px] w-[300px] max-w-sm;
  }

  .card--large {
    @apply min-h-[400px] w-[400px] max-w-lg;
  }

  .card--xl {
    @apply max-w-xl;
  }

  .card__img-container {
    @apply rounded-sm object-cover object-center;
  }

  .card__container {
    @apply flex flex-col gap-5 rounded-lg border bg-foreground p-2 shadow-sm md:p-3 lg:p-5;
  }

  .card__footer {
    @apply flex gap-3;
  }

  .form {
    @apply flex flex-col gap-2;
  }

  .form__field {
    @apply mb-5 rounded-lg border bg-background px-4 py-2 transition-colors duration-150 hover:bg-primary-muted/50 focus:bg-primary-muted/90 active:bg-primary-muted/90;
  }

  .auto-container {
    @apply mx-auto max-w-5xl p-5 sm:p-10;
  }
}
