<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEMPLATE</title>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="template.css" />

    <!-- NOTE: You can add and extend for custom stylesheets, but always use "classes" instead of 
    direct tags in css for our standards -->
  </head>
  <body class="body">
    <!-- GoGamify Header -->
    <header>
      <div class="header__container">
        <span class="header__span">GoGamify</span>
      </div>
    </header>
    <!-- end - GoGamify Header -->

    <!-- nav -->
    <nav id="main-nav">
      <div class="nav__container">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a class="button nav__button group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-route button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/route
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="6" cy="19" r="2"></circle>
                  <circle cx="18" cy="5" r="2"></circle>
                  <path
                    d="M12 19h4.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h3.5"
                  ></path>
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button nav__button group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-building-community button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/building-community
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"
                  ></path>
                  <line x1="13" y1="7" x2="13" y2="7.01"></line>
                  <line x1="17" y1="7" x2="17" y2="7.01"></line>
                  <line x1="17" y1="11" x2="17" y2="11.01"></line>
                  <line x1="17" y1="15" x2="17" y2="15.01"></line>
                </svg>
              </span>
              <span class="button__span__label">Community</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button nav__button group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-file-star button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/file-star
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                  <path
                    d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                  ></path>
                  <path
                    d="M11.8 16.817l-2.172 1.138a0.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a0.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a0.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a0.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a0.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
                  ></path>
                </svg>
              </span>
              <span class="button__span__label">Module</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button nav__button group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-trophy button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/trophy
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="8" y1="21" x2="16" y2="21"></line>
                  <line x1="12" y1="17" x2="12" y2="21"></line>
                  <line x1="7" y1="4" x2="17" y2="4"></line>
                  <path d="M17 4v8a5 5 0 0 1 -10 0v-8"></path>
                  <circle cx="5" cy="9" r="2"></circle>
                  <circle cx="19" cy="9" r="2"></circle>
                </svg>
              </span>
              <span class="button__span__label">Collections</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button nav__button group" href="#">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-user button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/user
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
              </span>
              <span class="button__span__label">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end of nav -->

    <main id="main">
      <div class="main__container">
        <!-- edit contents below -->
        <section class="section">
          <h1 class="h1">Title</h1>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            distinctio veritatis alias esse iure aperiam reiciendis soluta
            nesciunt? Vero voluptates beatae suscipit itaque quaerat consectetur
            provident neque corporis velit ducimus.
          </div>
          <div>
            <a class="button" href="#">Next</a>
            <a class="button" href="#"
              >Ulta Super Mega Long Button para maka-pasar</a
            >
          </div>
        </section>

        <section class="section">Lonely section</section>
        <section class="section">
          <div class="box border bg-background">
            NOTE: The items below are bounded in the concept of atomic classes
            in TailwindCS. You can definitely stick to your what you've learned
            and ignore the guidelines below, as long as you can execute your
            task.
          </div>

          <h1>H2 tag with h1 style class from our design css</h1>
          <h2>H2 tag with h2 style class from our design css</h2>
          <h3>H3 tag with h3 style class from our design css</h3>

          <p>
            Note that there should only be one H1 tag in an HTML, as what you've
            learned in semantics.
          </p>

          <button>Native button</button>
          <button class="button">Styled buttoned</button>

          <p>
            As you can see, tailwind removes all native styles to have
            consistency across all browsers, allowing the developer to have full
            control. visit
            <a class="link" href="https://tailwindcss.com/">TailwindCSS</a> for
            the documentation. (I've demonstrated how to style a link here)
          </p>

          <h2 class="h2">More styles</h2>

          <a class="button" href="#">Links</a> and
          <button class="button">buttons</button> can have the same style, the
          only difference is their semantics.

          <h3>Colors</h3>
          <p>
            Use "text-primary" (this is my custom class, not tailwind's for
            theming soon) class to simply color text.
          </p>
          <p class="text-primary">Color all sentence</p>

          <br />
          <p>Color entire div:</p>
          <div class="text-primary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A
            reprehenderit dicta ipsa similique repudiandae quia neque nobis
            corrupti ut, rem necessitatibus officiis blanditiis provident
            repellendus quas qui odit alias magni!
          </div>

          <p class="font-bold">Make em BOLD!</p>
          <p class="italic">Make em slidee</p>
          <p class="underline">Of course</p>
          <p class="text-sm">smaller also</p>
          <p class="text-center">If you want centered</p>

          <p class="h2 text-primary">Title</p>
          <p class="p text-primary-accent">Subtitle</p>
          <p class="p text-primary-muted">Soft info</p>
        </section>

        <section>
          <!-- use grid system or max-width in css to limit width when 
          using lots of cards
          -->
          <div class="card">
            <div
              class="card__container flex flex-col gap-5 rounded-lg border bg-foreground p-2 shadow-sm md:p-3 lg:p-5"
            >
              <div class="card__header">
                <p class="h2 text-primary">Title</p>
                <p class="text-primary-accent">Subtitle</p>
                <p>Another Subtitle</p>
                <p class="text-sm">Small copy</p>
              </div>
              <div class="card__body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Mollitia vel molestiae nobis unde omnis, illum reiciendis
                  quasi ad, adipisci repellat inventore ipsa voluptatum eaque ut
                  tempora. Iste, dolores. Nostrum, ad!
                </p>
              </div>
              <div class="card__footer">
                <a class="link" href="#">View</a>
                <a class="link" href="#">Update</a>
                <a class="link" href="#">Delete</a>
                <a class="link" href="#">Share?</a>
              </div>
            </div>
          </div>

          <!-- spacer -->
          <div style="height: 50px"></div>

          <div class="card max-w-sm">
            <div class="card__container">
              <div class="card__header">
                <p class="h2 text-primary">Title</p>
                <p class="text-primary-accent">Subtitle</p>
                <p>Another Subtitle</p>
                <p class="text-sm">Small copy</p>
              </div>
              <div class="card__body">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Mollitia vel molestiae nobis unde omnis, illum reiciendis
                  quasi ad, adipisci repellat inventore ipsa voluptatum eaque ut
                  tempora. Iste, dolores. Nostrum, ad!
                </p>
              </div>
              <div class="card__footer">
                <a class="link" href="#">View</a>
                <a class="link" href="#">Update</a>
                <a class="link" href="#">Delete</a>
                <a class="link" href="#">Share?</a>
              </div>
            </div>
          </div>

          <div class="box">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            at alias, qui ea tempora ipsa temporibus neque nihil dolor enim
            aliquid est provident atque odio possimus quae nemo quod laudantium!
          </div>

          <div class="card w-fit">
            <div class="card__container">
              <div class="card__header">
                <span class="imposter"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-3d-cube-sphere h-24 w-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <desc>
                      Download more icon variants from
                      https://tabler-icons.io/i/3d-cube-sphere
                    </desc>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 17.6l-2 -1.1v-2.5"></path>
                    <path d="M4 10v-2.5l2 -1.1"></path>
                    <path d="M10 4.1l2 -1.1l2 1.1"></path>
                    <path d="M18 6.4l2 1.1v2.5"></path>
                    <path d="M20 14v2.5l-2 1.12"></path>
                    <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
                    <line x1="12" y1="12" x2="14" y2="10.9"></line>
                    <line x1="18" y1="8.6" x2="20" y2="7.5"></line>
                    <line x1="12" y1="12" x2="12" y2="14.5"></line>
                    <line x1="12" y1="18.5" x2="12" y2="21"></line>
                    <path d="M12 12l-2 -1.12"></path>
                    <line x1="6" y1="8.6" x2="4" y2="7.5"></line>
                  </svg>
                </span>
              </div>
              <div class="card__body text-center">
                <p class="h3">Badge Title</p>
                <p class="p">Badgle Subtitle</p>
                <p>Some Description</p>
              </div>
            </div>
          </div>
          <div class="card w-fit">
            <div class="card__container">
              <div class="card__header">
                <span class="imposter">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-pacman h-24 w-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <desc>
                      Download more icon variants from
                      https://tabler-icons.io/i/pacman
                    </desc>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M5.636 5.636a9 9 0 0 1 13.397 .747l-5.619 5.617l5.619 5.617a9 9 0 1 1 -13.397 -11.981z"
                    ></path>
                    <circle
                      cx="11.5"
                      cy="7.5"
                      r="1"
                      fill="currentColor"
                    ></circle>
                  </svg>
                </span>
              </div>
              <div class="card__body text-center">
                <p class="h3">Sample Achievement Title</p>
                <p class="p">Badgle Subtitle</p>
                <p>Some Description</p>
              </div>
            </div>
          </div>
        </section>

        <!-- edit contents above -->
      </div>
    </main>
  </body>
</html>
