<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body class="bg-gray-50">
    <main class="auto-container">
      <section class="section flex justify-center">
        <%- include('../partials/gamify/resource-details.ejs') %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
