<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body class="bg-gray-50">
        <%- include('../partials/header-special.ejs') %>
    <main class="auto-container">
      <a class="button button--muted" href="/home">< Back</a>
      <section class="section flex justify-center">
        <%- include('../partials/gamify/resource-details.ejs') %>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
