
:root{
  --violet:#6D28D9;
  --purple:#8B5CF6 ;
  --gradient:linear-gradient(90deg, var(--violet), var(--purple));
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 1pxs; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  
}

*::selection{
  background:var(--violet);
  color:#fff;
}

html{
  font-size: 65%;
  overflow-x: hidden;
}

body{
  background:#f9f9f9;
}

section{
  min-height: 100vh;
  padding:0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.8rem 3rem;
  border-radius: 5rem;
  border-width: 2px;
  background:var(--gradient);
  font-size: 1.7rem;
  color:#fff;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: all .3s linear;
}

.btn:hover{
  transform: scale(1.1);
}

.heading{
  text-align: center;
  background:var(--gradient);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding:1rem;
}

header{
  position: fixed;
  top:0; left:0;
  width:100%;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-size: 1.5rem;
}

header .logo{
  font-size: 2rem;
  color:var(--violet);
  font-weight: bold;
  border-block-color: var(--purple);
}

header .logo span{
  color:6D28D9;
}

header .navbar a{
  font-size: 1.7rem;
  margin-left: 3rem;
  color:var(--violet);
  font-weight: bold;
}
  header .navbar a .btn {

    box-sizing: border-box;
}


header input{
  display: none;
}

header label{
  font-size: 3rem;
  color:var(--purple);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
header head{
  font-weight: bold;

}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.home .content h3{
  font-size: 3rem;
  color:#27272A;
  text-transform: uppercase;
}

.home .content h3 span{
  color:var(--violet);
  text-transform: uppercase;
  align-items: justify;
}

.home .content p{
  font-size: 1.7rem;
  color:#52525B ;
  padding:1rem 0;
  text-align: center;
}

.benefits .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.benefits .box-container .box{
  flex:1 1 30rem;
  background:#fff;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  margin:1.5rem;
  padding:3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
}

.benefits .box-container .box img{
  height: 15rem;
}

.benefits .box-container .box h3{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.benefits .box-container .box p{
  font-size: 1.3rem;
  color:#666;
  padding: 1rem 0;
}
benefits .box-container .box:nth-child(2),
.benefits .box-container .box:hover{
  border:.2rem solid var(--violet);
}


.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  flex:1 1 27rem;
  margin:1rem;
  padding:1rem;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
font-size: 1.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.features .box-container .box:nth-child(2),
.features .box-container .box:hover{
  border:.2rem solid var(--violet);
}

.features .box-container .box .title{
  color:var(--violet);
  font-size: 2.5rem;
  padding-top: 1rem;
}

.features .box-container .box .features{
  font-size: 4rem;
  color:var(--violet);
  padding:1rem 0;
}

.features .box-container .box .features span{
  font-size: 2rem;
}

.about{

  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image{
  flex:1 1 40rem;
}

.about .column .image img{
  width:100%;
}

.about .column .content{
  flex:1 1 40rem;
}

.about .column .content h3{
  font-size: 3rem;
  color:#27272A ;
}

.about .column .content p{
  font-size: 1.5rem;
  color:#27272A ;
  padding:1rem 0;


}

.about .column .content .buttons a:last-child{
  margin-left: 2rem;
}

.review .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box{
  background:#fff;
  margin:1rem;
  padding:1rem;
  text-align: center;
  position: relative;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  flex:1 1 30rem;
  border-radius: .5rem;
}

.review .box-container .box .fa-quote-right{
  position: absolute;
  top:1rem; right:2rem;
  font-size: 8rem;
  color:var(--violet);
  opacity: .3;
}

.review .box-container .box .user img{
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width:7rem;
  margin-top: 2rem;
}

.review .box-container .box .user h3{
  color:var(--violet);
  font-size: 2rem;
}

.review .box-container .box .user .stars i{
  color:var(--violet);
  font-size: 1.5rem;
  padding:1rem 0;
}

.review .box-container .box .comment{
  color:var(--violet);
  font-size: 1.4rem;
  padding:1rem;
}
review .box-container .box:nth-child(2),
.review .box-container .box:hover{
  border:.2rem solid var(--violet);
}


.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.contact .image{
  flex:1 1 40rem;
}

.contact .image img{
  width:100%;
  padding:2rem;
}

.contact form{
  flex:1 1 40rem;
  padding:2rem 3rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  background:#fff;
}

.contact form .heading{
  text-align: left;
  padding:0;
  padding-bottom: 2rem;
}

.contact form .inputBox{
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
  width:100%;
  background:none;
  color:#27272A ;
  margin:1.5rem 0;
  padding:.5rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem solid rgba(0,0,0,.1);
  text-transform: none;
}

.contact form .inputBox textarea{
  resize: none;
  height: 13rem;
}

.contact form .inputBox label{
  position: absolute;
  top:1.7rem; left:0;
  font-size: 1.7rem;
  color:#27272A ;
  transition: .2s linear;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label{
  top:-.5rem;
  font-size: 1.5rem;
  color:var(--purple);
}

.footer{
  padding-top: 3rem;
  background-size: cover;
  background-position: center;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box{
  flex:1 1 25rem;
  margin:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:1rem 0;
  color:var(--purple);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.5rem 0;
  color:var(--purple) ;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.5rem 0;
  color:var(--purple);
}

.footer .box-container .box a:hover{
  text-decoration: underline;
}

.footer .box-container .box .info{
  display: flex;
  align-items: center;
}

.footer .box-container .box .info i{
  margin:.5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background:#fff;
  color:var(--purple);
  font-size: 1.5rem;
  height:4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.footer .credit{
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .1rem;
  color:var(--violet) ;
  border-top: .1rem solid var(--purple) ;
  padding:2.5rem 1rem;
  text-align: center;
}



@media (max-width:1200px){
  
  html{
      font-size: 55%;
  }

}

@media (max-width:991px){
  
  section{
      padding:0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
  }

}

@media (max-width:768px){

  header label{
      visibility: visible;
      opacity: 1;
  }

  header .navbar{
      position: absolute;
      top:100%; left: 0;
      width:100%;
      background:#fff;
      padding:1rem 2rem;
      border-top: .1rem solid rgba(0,0,0,.2);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: .2s linear;
  }

  header .navbar a{
      display: block;
      margin:2rem 0;
      font-size: 2rem;
  }

  header input:checked ~ .navbar{
      transform: scaleY(1);
      opacity: 1;
  }

  header input:checked ~ label::before{
      content:'\f00d';
  }

  .home{
      flex-flow: column-reverse;
  }

  .home .image img{
      width:100%;
  }

  .home .content h3{
      font-size: 3.6rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

  .about{
      background-position: right;
  }

  .newsletter p{
      width:auto;
  }

}

@media (max-width:450px){
  
  html{
      font-size: 50%;
  }

  .about .column .content .buttons a{
      width:100%;
      text-align: center;
  }

  .about .column .content .buttons a:last-child{
      margin: 1rem 0;
  }

}