/* h1{
    background-color: rgb(225, 235, 235);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: auto;
    border: 8px solid rgb(112, 23, 190);
    border-radius: 35px;
    padding: 10px;
} */

.hans-card h2 {
    border: 2px dotted green;
}

/*This class will inline elements based on where Hans(me) puts them*/
.hans_inline{
    display: inline;
}

.back-username{
    font-style: italic;
    display: inline;
    margin-left: 3% ;
}

.back-theme{
    margin-left: 6%;
    font-style: italic;
}

.back-gpa{
    font-style: italic;
    margin-left: 7% ;
}

.back-jrn{
    font-style: italic;
    margin-left: 2% ;
}

.profile {
  border: 5px solid rgb(var(--color-primary) / var(--tw-text-opacity));
  border-radius: 20%;
  margin-left: 2%;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

/* 
body{
    border: 3px solid purple;
    margin-left: 50px;
    margin-right: 50px;
} */
.achievement_block {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(112, 23, 190);
  border-radius: 20px;
  text-align: center;
  margin-left: 50px;
  background-color: rgb(239, 228, 238);
}

.achievement_block img {
  border: 5px solid rgb(50, 205, 120);
  margin-top: 10px;
}

/* th{
    border: 1px solid rgb(58, 51, 51);
    padding: 10px;
}
th.head{
    
    background-color: aquamarine;
}
td{
    border: 1px solid rgb(58, 51, 51);
    text-align: center;
    background-color: cadetblue;
    padding: 10px
}
table{
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-left: auto;
    margin-right: auto;
}


aside{
    margin: 20px;
    display: inline-block;
    height: 500px;
    width: 600px;
    border: 3px dashed purple;
    background-color: bisque;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
} */
